<p>
  <em class="info"><%= l(:note_data_privacy_policy) %></em> 
  <%= text_area_tag 'settings[data_privacy_policy]', 
      LegalNote.find(name: :data_privacy_policy), 
      class: 'wiki-edit', rows: 20 %>	 
</p>
<%= wikitoolbar_for('settings_data_privacy_policy') %>
