<div id="footer">
    <div class="credits">Powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %> &copy; 2006-2020 Jean-Philippe Lang</div>
    <div class="legal-notes-link"> 
      <%= link_to l(:label_legal_notice), legal_notes_path(legal_note: :legal_notice) %> |  
      <%= link_to l(:label_data_privacy_policy), legal_notes_path(legal_note: :data_privacy_policy) %>
    </div>
</div>